/InterfazGrafica/PruebaCapas/nbproject/private/
/InterfazGrafica/PruebaCapas/build/
/InterfazGrafica/PruebaCapas2/nbproject/private/
/InterfazGrafica/PruebaCapas2/build/
/InterfazGrafica/PurebaIGU/nbproject/private/
/InterfazGrafica/AcademiaIt ios/nbproject/private/
/InterfazGrafica/AcademiaIt ios/build/
/InterfazGrafica/Excepciones_E1/nbproject/private/
/InterfazGrafica/Excepciones_E1/build/
/InterfazGrafica/diMarco_Denis_tpo1/nbproject/private/
/InterfazGrafica/diMarco_Denis_tpo1/build/
